<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>results</key>
	<array>
		<dict>
			<key>Data</key>
			<dict>
				<key>QuestionName</key>
				<string>Do you have internet (wifi) service?</string>
				<key>Level</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Id</key>
			<integer>1</integer>
			<key>AnswerName</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>Id</key>
			<integer>2</integer>
			<key>AnswerName</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Data</key>
			<dict>
				<key>QuestionName</key>
				<string>Do you have cellular service?</string>
				<key>Level</key>
				<string>0</string>
			</dict>
		</dict>
		<dict>
			<key>Id</key>
			<integer>18</integer>
			<key>AnswerName</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>Id</key>
			<integer>19</integer>
			<key>AnswerName</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Data</key>
			<dict>
				<key>QuestionName</key>
				<string>Do you have email?</string>
				<key>Level</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Id</key>
			<integer>28</integer>
			<key>AnswerName</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>Id</key>
			<integer>29</integer>
			<key>AnswerName</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Data</key>
			<dict>
				<key>QuestionName</key>
				<string>Do you currently use any health or fitness related apps or devices with your phone or tablet?</string>
				<key>Level</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Id</key>
			<integer>36</integer>
			<key>AnswerName</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>Id</key>
			<integer>37</integer>
			<key>AnswerName</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Data</key>
			<dict>
				<key>QuestionName</key>
				<string>Do you currently use any biometric devices in your home (such as blood pressure monitor, glucometer, etc)?</string>
				<key>Level</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Id</key>
			<integer>38</integer>
			<key>AnswerName</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>Id</key>
			<integer>39</integer>
			<key>AnswerName</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Data</key>
			<dict>
				<key>QuestionName</key>
				<string>Do you require any personal/caregiver assistance to use the computer, phone or biometric devices in your home?</string>
				<key>Level</key>
				<integer>4</integer>
			</dict>
		</dict>
		<dict>
			<key>Id</key>
			<integer>40</integer>
			<key>AnswerName</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>Id</key>
			<integer>41</integer>
			<key>AnswerName</key>
			<string>No</string>
		</dict>
	</array>
</dict>
</plist>
